<ion-header [translucent]="true" class="ion-no-border" style="background-color: #000000;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <div class="title">{{event.title}}</div>

    <div class="banner" style="background: url('{{event.url}}'); background-position: center center;background-size: cover;background-repeat: no-repeat;"></div>

    <div class="info">
      <div class="info-left">
        <div class="info-left-top">
          <div>{{date}}</div>
          <div>{{event.subtitle}}</div>
        </div>
        <div class="info-left-bottom">{{fullName}}</div>
      </div>
      <div class="info-right">
        <div class="date-button date-button-border">Mapa</div> 
      </div>

    </div>


    <div class="description">{{event.description}}</div>
 </div>

</ion-content>
