<ion-header [translucent]="true" class="ion-no-border" style="background-color: #000000;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="paper-plane"></ion-icon>
      </ion-button>
      <div class="bubble"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <div class="title">Programación</div>

    <div class="buttons">
      <!-- TODO haz ngClass en funcion de si esta cliado -->
      <div class="date-button date-button-border">Mie, 4/8</div> 
      <div class="date-button date-button-gradient">Jue, 5/8</div>
      <div class="date-button date-button-border">Vie, 6/8</div>
    </div>

    <div class="table">table</div>
 </div>





</ion-content>
